<?xml version="1.0"?>
<robot name="pick_ball_mbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find pick_ball_mbot_desciption)/urdf/pick_ball_mbot_base_gazebo.xacro" />

    <xacro:property name="wheel_mu" value="3"/>

    <xacro:macro name="joint_trans"  params="joint_name">
        <transmission name="${joint_name}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint_name}" >
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
            <actuator name="${joint_name}_motor">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <pick_ball_mbot_base_gazebo/>
    
    <!--- design color for mbot -->
    <gazebo reference="left_cover">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="right_cover">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="front_right_wheel">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="front_left_wheel">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="rear_right_wheel">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="rear_left_wheel">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="collector">
        <material>Gazebo/Wood</material>
    </gazebo>
    <gazebo reference="paddle">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="support_rod">
        <material>Gazebo/Purple</material>
    </gazebo>

    <!-- friction -->
    <gazebo reference="front_left_wheel">
        <mu1>${wheel_mu}</mu1>
        <mu2>${wheel_mu}</mu2>
    </gazebo>

    <gazebo reference="front_right_wheel">
        <mu1>${wheel_mu}</mu1>
        <mu2>${wheel_mu}</mu2>
    </gazebo>

    <gazebo reference="rear_left_wheel">
        <mu1>${wheel_mu}</mu1>
        <mu2>${wheel_mu}</mu2>
    </gazebo>

    <gazebo reference="rear_right_wheel">
        <mu1>${wheel_mu}</mu1>
        <mu2>${wheel_mu}</mu2>
    </gazebo>

    <!-- design transmission for joint-->
    <joint_trans joint_name="front_right_wheel_joint"/>
    <joint_trans joint_name="front_left_wheel_joint"/>
    <joint_trans joint_name="rear_right_wheel_joint"/>
    <joint_trans joint_name="rear_left_wheel_joint"/>
    <joint_trans joint_name="paddle_joint"/>

    <!-- design controller for joint-->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/pick_ball_mbot</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
            </plugin>
    </gazebo>

</robot>
