<launch>

    <include file="$(find mbot_navigation_gazebo)/launch/gmapping.launch"/>

    <!-- 运行move_base节点 -->
    <include file="$(find mbot_navigation_gazebo)/launch/move_base.launch" >
        <arg name="cmd_vel_topic" value="/mbot/mobile_base_controller/cmd_vel" />
    </include>

    <!-- 运行rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mbot_navigation_gazebo)/rviz/nav.rviz"/>

</launch>
