<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="pick_ball_robot">
  <link name="base_link">
    <inertial>
      <origin
        xyz="0.00313944027593173 0.0475899393813772 -0.0240568035950959"
        rpy="0 0 0" />
      <mass
        value="2.30604944660762" />
      <inertia
        ixx="0.0300210071128899"
        ixy="-0.000347726628279156"
        ixz="0.00113792081446474"
        iyy="0.0311434930507062"
        iyz="0.00385703431405476"
        izz="0.0107730815869623" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pick_ball_robot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.686274509803922 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pick_ball_robot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="base_link">
      <material>Gazebo/Blue</material>
  </gazebo>

  <link name="paddle_blade">
    <inertial>
      <origin
        xyz="0.086594 5.0432E-14 -7.4224E-13"
        rpy="0 0 0" />
      <mass
        value="0.16555" />
      <inertia
        ixx="0.00063183"
        ixy="3.5324E-16"
        ixz="-4.9024E-15"
        iyy="0.00050637"
        iyz="1.4437E-13"
        izz="0.00050637" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pick_ball_robot/meshes/paddle_blade.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pick_ball_robot/meshes/paddle_blade.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="paddle_blade">
      <material>Gazebo/Gray</material>
  </gazebo>

  <joint name="joint_blade" type="revolute">
    <origin
      xyz="0.0835 0.22223 0.107"
      rpy="0.43349 0 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="paddle_blade" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>