<launch>

  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="paddle_velocity_topic" default="/pick_ball_mbot/paddle_joint_velocity_controller/command"/>

  <node name="motion_planning" pkg="pick_ball_mbot_control" type="motion_planning" output="screen">
    <remap from="/cmd_vel"  to="$(arg cmd_vel_topic)" />
  </node>

  <node name="paddle_control" pkg="pick_ball_mbot_control" type="paddle_control" output="screen" >
      <remap from="/paddle_velocity"  to="$(arg paddle_velocity_topic)" />
  </node>

</launch>