<launch>

  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />

    <!-- 加载机器人模型描述参数 -->
    <!--<param name="robot_description" command="$(find xacro)/xacro inorder '$(find mbot_description_gazebo)/urdf/mbot_with_kinect_laser_gazebo.xacro'" /> -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find pick_ball_mbot)/urdf/pick_ball_mbot_gazebo.xacro'" /> 

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model pick_ball_mbot -param robot_description -x 1 -y 2 -z 0"/> 
    
    <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link map 40" />

</launch>
